@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
:root{
  --main-bg:#2a3447;
  --soft-bg:#384256;
  --dark-bg:#222b3c;
  --main-color:white;
  --soft-color:#ddd;
  --dark-color:#2a3447;
  --nav-color: #ffcd36;
}
body{
  font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-bg);
    scroll-behaviour: smooth;
}
.main{
  font-family: "Inter",sans-serif;
  background-color: var(--main-bg);
  color: var(--main-color);
}
.container{
  display: flex;
}
.menuContainer{
  width: 250px;
  padding: 5px 20px;
  border: 2px solid var(--soft-bg);
  margin-bottom: 20px;
}
.contentContainer{
  padding: 5px 20px;
  width: 100%;
  color: white;
}
/* //navbar  */
.navBar{
  position: sticky;
  padding: 10px;
  top: 0;
  width: 100%;
  z-index: 333;
  background-color: var(--main-bg);
  color: var(--soft-color) !important;
}
.navd-flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navBarCloser{
  background-color: rgba(51, 50, 50, 0.61);
  padding: 10px;
}
.navBarCloser:hover{
  background-color: var(--soft-bg);
}
a{
  color: var(--soft-color) !important;
}
.nAV{
      display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: var(--soft-color) !important;
        font-weight: bold;
        font-family: 'Lalezar',sans-serif;
}
.nav-item{
  padding: 5px;
  border-radius: 9px;
  color: var(--soft-color);
  font-size: 19px;
}
.nav-item:hover{
  background-color: var(--soft-bg);
  /* color: var(--soft-color)  !important; */
  color: var(--nav-color)  !important;
  
}
.navbar-toggler{
  background-color:white;
}
/* // box1  */
.user{
display: flex;
align-items: center;
}
.user img{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}
.icons{
  display: flex;
  align-items: center;
  gap:20px;
}
i{
  cursor: pointer;
}
/* // Footer  */
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:30px;
}
.footer span:first-child{ 
  font-weight: bold;
  cursor: pointer;
}
.footer span:last-child{ 
  font-size: 14px;
  cursor: pointer;
}
.footer span:hover{
  color: red;
}
/* // menu  */
.menu{
text-transform: uppercase;
min-height: calc(100vh - 120px );
height: 100%;
}
.menu .item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.menu .item .itemTitle{
  font-size: 18px;
  font-weight: 500;
  color: var(--soft-color);
}
.listItem{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}
.listItem:hover{
  background-color: var(--soft-bg);
}

/* /////// data grid over all important  */
.MuiDataGrid-columnHeaderTitle.css-t89xny-MuiDataGrid-columnHeaderTitle{
font-weight: bold;
font-size: 14px;
}
/* loading  */
.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353638;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
/* /// loading liner  */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* responsive design  */
@media only screen and (max-width:480px) {
 .navbar .logo{
    display: flex;
      align-items: center;
      font-weight: 300;
      gap: 7px;
      font-size: 11px;
  }
  .container.loober{
    display: flex;
      align-items: center;
      flex-direction: column;
    }  
    .menuContainer{
      width: 100%;
      height: 60px;
    }
    .menu{
    text-transform: uppercase;
      max-width: 83%;
      display: flex;
    }
        .menu .item .itemTitle{
          display: none;
        }
    .menu .wTen{
      width: 9%;
      height: 20px;
    }
}
@media only screen and (max-width:768px) {  
}
@media only screen and (max-width:1024px) {
  .menu .item .title{
    display: none;
  }
  .menuContainer{
    width: 100%;
  }
  
}
@media only screen and (max-width:1200px) {
  
}
@media only screen and (min-width:1400px) {
  
}