.tubes{
    position: relative;
    height: 100%;
    min-height: 100vh;
}
.tubes .tubesHeader {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.tubesHeader button {
    padding: 5px;
    cursor: pointer;
}

.dataGrid {
    background-color: white;
    padding: 20px;
    max-width: 1024px;
}

.MuiDataGrid-toolbarContainer {
    flex-direction: row-reverse;
    align-items: center;
}

.dataTable img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.css-ptiqhd-MuiSvgIcon-root{
    display: none;
}
.sum{
    margin-top: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 23px;
}
.MuiInputBase-input.MuiInput-input.MuiInputBase-inputTypeSearch.MuiInputBase-inputAdornedStart.MuiInputBase-inputAdornedEnd.css-c63i49-MuiInputBase-input-MuiInput-input,
.MuiDataGrid-columnHeaderDraggableContainer,
.MuiDataGrid-cellCheckbox.MuiDataGrid-cell--withRenderer.MuiDataGrid-cell.MuiDataGrid-cell--textCenter.MuiDataGrid-withBorderColor,
.MuiDataGrid-columnHeader.MuiDataGrid-columnHeader--alignCenter.MuiDataGrid-withBorderColor.MuiDataGrid-columnHeaderCheckbox{
    display: none;
}
.css-1w53k9d-MuiDataGrid-overlay{
    display: none;
}
.MuiDataGrid-cell.MuiDataGrid-cell--textRight.MuiDataGrid-cell--editable.MuiDataGrid-withBorderColor,
.MuiDataGrid-cell.MuiDataGrid-cell--textLeft.MuiDataGrid-withBorderColor,
.MuiDataGrid-columnHeader.MuiDataGrid-columnHeader--sortable.MuiDataGrid-columnHeader--sorted.MuiDataGrid-withBorderColor,
.MuiDataGrid-columnHeaderDraggableContainer,
.MuiDataGrid-columnHeaderTitleContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* //loading  */
/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 6px;
    background:
        conic-gradient(from 135deg at top, currentColor 90deg, #0000 0) 0 calc(50% - 4px)/17px 8.5px,
        radial-gradient(farthest-side at bottom left, #0000 calc(100% - 6px), currentColor calc(100% - 5px) 99%, #0000) top right/50% 50% content-box content-box,
        radial-gradient(farthest-side at top, #0000 calc(100% - 6px), currentColor calc(100% - 5px) 99%, #0000) bottom /100% 50% content-box content-box;
    background-repeat: no-repeat;
    animation: l11 1s infinite linear;
}

@keyframes l11 {
    100% {
        transform: rotate(1turn)
    }
}