.car{
     min-height: 100vh; 
    position: relative;
} 
.table{
    height: 100%;
    width: 100%;
}
.carHeader{
    display: flex;
    align-items: center;
    gap: 10px;
}
.car .carHeader button{
    padding: 7px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
}
.car .carHeader button:hover{
    padding: 7px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    background-color: rgba(218, 220, 222, 0.811);
    border-color: white;
}
.d-flex{
display: flex;
align-items: center;
justify-content: center;
}
.zz{
    font-size: 16px;
    font-weight: 500;
    max-height: 150px;
}
.bb{
    border-bottom: 2px solid black;
    font-weight: bold;
    background-color: #ddd;
    max-width: 80%;
}
/* // responsive design  */
@media only screen and (max-width:480px) {
    .carHeader{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .contentContainer,
        .container,
        .loober {
            padding: 0;
            margin: 0;
        }
        .myModal {
                    position: absolute;
                    padding: 25px;
                    border-radius: 10px;
                    background-color: #202e4e;
                    top: 12%;
                    right: 16% !important;
                }
}