@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@400;500;600;700&display=swap');
.landingHome{
    padding: 10px;
    margin: 0;
    font-family: 'Marhey',sans-serif;
}
.landing-flex{
    display: flex;
    gap:200px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.landing-flex img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.landing-flex h2{
    font-weight: 700;
    color: white;
    font-size: 60px;
    letter-spacing: 2.1;
    line-height: 1.8;
    color: #ffcd36;
}
.landing-flex span{
    font-weight: 500;
    color: #ddd;
    font-size: 15px;
}
.landingBtn{
    margin: auto;
    margin-top: 50px;
    padding: 10px 50px;
    border-radius: 9px;
    outline: none;
    border: none;
    background-color: #ffcd36;
    color: black;
}
.direction-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.howwedo{
    background-color: white;
    padding: 20px;
    color: #ffcd36;
}
.howwedo h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;    
}
.howwedo .do-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.card-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffcd36;
    padding: 5px;
    width: 120px;
    height: 150px;
    border-radius: 5px;
}
.card-column p{
    font-size: 12px;
    font-weight: 300;
}
.card-column svg{
    color: black;

}
.card-column h4{
    color:black;
    font-size: 13px;
}
/* responsive  */
@media only screen and (max-width:480px) {
    .landing-flex {
            display: flex;
            gap: 50px;
            flex-direction: column;
        }
                .landing-flex img {
                    width: 90%;
                    height: 70%;
                    object-fit: contain;
                }
                .landingBtn {
                    display: none;
                }
                                .landing-flex span {
                                    font-weight: 400;
                                    color: #ddd;
                                    font-size: 11px;
                                }
}