@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.analyics{
    min-height: 100vh;
    color: white;
    font-family: 'Amiri', serif;
}
.analyics .bg-black-trans{
    background-color: rgba(57, 56, 56, 0.336);
}
.cardy-flex{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
}
.modal {
     padding: 0px;
     border-radius: 10px; 
     position: absolute; 
     background-color: #49505700;
}
.label-modal{
    color: black;
    font-size: 25px;
}
.myModall {    
            position: absolute;
            padding: 25px;
            border-radius: 10px;
            background-color: #202e4e;
            top: 25% !important;
            right: 45% !important;
        
}
/* responsive design  */
@media only screen and (max-width:480px) {
    .cardy-flex {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .myModall {
            position: absolute;
            padding: 25px;
            border-radius: 10px;
            background-color: #202e4e;
            top: 12% !important;
            right: -2% !important;
        }
}