.processDetails{
    height: 100%;
}
.header{
    height: 15%;
}
.headerTitle{
    font-weight: normal;
    font-size: 21px;
    margin: 12px;
}
.headerIndex{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-top: 22px;
}
.headerTablet{
    height: 70%;
}
table{
    border: 1px solid lightgray;
    border-radius: 2px;
    height: 100%;
    width: 100%;
}
.tabletHeader{
    border: 2px solid lightgrey;

}
tr th{
    padding: 5px;
        font-size: 21px;
        font-weight: 600;
        border: 1px solid lightgray;
        margin: 0;
        background-color: rgb(216, 220, 221);
        color: black;
}
tr>td {
    padding: 5px;
    font-size: 19px;
    font-weight: 500;
    border: 1px solid lightgray;
    margin: 0;
    text-align: center;
    background-color: white;
    color: black;
}
.processReport-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.processReport-red{
    color: rgb(212, 96, 96);
    font-weight: bold;
    font-size: 30px;
}
.processReport-green{
    color: rgb(93, 236, 50);
    font-weight: bold;
    font-size: 30px;
}